<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogPath"                  value=".\TestLogs\" />
    <add key="LogRetentionDays"         value="1" />
    <add key="MaxFileSizeMb"            value="1" />
    <add key="IccProfilePath"           value="Resources\sRGB_CS_profile.icm" />
    <add key="MaxConcurrentConversions" value="2" />
    <add key="QueueTimeoutSeconds"      value="10" />
    <add key="ServiceVersion"           value="1.0.0-test" />
    <add key="ServiceName"              value="PdfAForge-Test" />
  </appSettings>
</configuration>
